.footer {
  grid-area: footer;
  background-color: #374548;
  height: 5rem;
  display: grid;
  align-items: center;
  border-radius: 1.26rem 1.26rem 0 0;

  .footerGrid {
    display: grid;
    grid-template-areas: 'brand contact';
    align-items: center;
    margin: 0 5.25rem;

    @media (max-width: 53.375rem) {
      margin: 0 rem;
    }

    @media (max-width: $laptop) {
      margin: 0 2.25rem;
    }

    .brand {
      grid-area: brand;
      font-family: 'Poppins', sans-serif;
      font-size: 2.75rem;
      font-weight: 600;
      align-items: center;
      color: #f9f9f9;

      @media (max-width: $laptop) {
        font-size: 1.7rem;
      }
    }

    .contact {
      grid-area: contact;
      display: grid;
      grid-template-areas:
        'contactText'
        'contactLinks';
      row-gap: 0.5rem;
      justify-content: end;

      .contactText {
        grid-area: contactText;
        font-size: 1.18rem;
        font-weight: 600;
        color: #f9f9f9;
        display: grid;
        justify-content: center;

        @media (max-width: $laptop) {
          font-size: 0.8rem;
        }
      }

      .contactLinks {
        grid-area: contactLinks;
        display: grid;
        grid-template-areas: 'linkedin instagram whatsapp';
        font-size: 1.3rem;
        column-gap: 0.5rem;
        color: #fd9b08;
        justify-content: center;

        @media (max-width: $laptop) {
          font-size: 1rem;
        }
      }
    }
  }
}

/*
@media only screen and (max-width: 23.4375em) and (orientation: portrait) {
  .footer {
    height: 3.5rem;
    .footerGrid {
      margin: 0 3.25rem;

      .brand {
        font-size: 1.7rem;
      }

      .contact {
        .contactText {
          font-size: 0.8rem;
        }

        .contactLinks {
          font-size: 1rem;
        }
      }
    }
  }
}

// 415px
@media only screen and (max-width: 25.9375em) and (orientation: portrait) {
  .footer {
    height: 3.5rem;
    .footerGrid {
      margin: 0 3.25rem;

      .brand {
        font-size: 1.7rem;
      }

      .contact {
        .contactText {
          font-size: 0.8rem;
        }

        .contactLinks {
          font-size: 1rem;
        }
      }
    }
  }
}

// 360px
@media only screen and (max-width: 22.5em) and (orientation: portrait) {
  .footer {
    height: 3.5rem;
    .footerGrid {
      margin: 0 3.25rem;

      

      .brand {
        font-size: 1.7rem;
      }

      .contact {
        .contactText {
          font-size: 0.8rem;
        }

        .contactLinks {
          font-size: 1rem;
        }
      }
    }
  }
}

*/
