@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://use.typekit.net/aae4spt.css');

.body {
  //background-color: #f9f9f9;
  font-family: 'Muli', 'Poppins', sans-serif;

  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  row-gap: 3rem;
}

.headerGroup {
  .link:hover {
    color: #fd9b08c5;
  }
}
.link {
  transition: color 0.15s ease;
}
.link:hover {
  color: #0070f3;
}

.freelancer {
  color: #0070f3;
}

